<!doctype html>
<!--[if IE 8]>    <html class="no-js ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]> <!--> <html class="no-js">             <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cedar Bark Starter</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, fugit.">

    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="Cedar Bark" />
    <meta property="og:image"       content="{{root}}images/cedar-leaf.png" />
    <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, fugit." />

    <link href="{{root}}css/main.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="icon" type="image/png" href="/images/favicon.png?v=0">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    

    <!--  Add Favicon code here. Use http://realfavicongenerator.net/ to create your icon. 

    1.  When the options menu appears, tweak your icons and be sure to change the path under "Favicon Generator Options" to: /favicons/
    
    2.  Make a "favicons" folder in the theme directory and place the generated images in this folder.
    
    3.  When pasting the generated code here, be sure to add "<?php echo get_template_directory_uri(); ?>" at the beginning of the paths so it looks like the following:

          href="<?php echo get_template_directory_uri(); ?>/favicons/"
    -->

  </head>

  <body class="{{pageClass}}">