@mixin button( $color: $accent-primary, $text-color: white, $hover-color: shade( $color, 20 ), $text-hover-color: $text-color, $border-color: $color ) {
  width: 100%;
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 8px 14px;
  border: 2px solid $border-color;
  border-radius: 3px;

  background: $color;
  color: $text-color;
  @include font-size( 12px );
  text-transform: uppercase;
  letter-spacing: 0.1em;

  transition: all 123ms;

  span {
    vertical-align: middle;
  }

  .icon {
    @include font-size( 24px );
    vertical-align: middle;

    &:last-child {
      margin-left: 10px;
    }

    &:first-child {
      margin-right: 10px;
    }
  }

  &:hover {
    background: $hover-color;
    color: $text-hover-color;
  }

  @include media($min-xs) {
    width: auto;
    display: inline-block;
  }
}

@mixin pill-button( $color: $accent-primary ) {
  @include button( $color, white, shade( $color, 20 ), white, transparent );
}

@mixin pill-button-sm( $color: $accent-primary ) {
  @include button( $color, white, shade( $color, 20 ), white, transparent );
  padding: 3px 9px;
  @include font-size( 10px );

  .icon {
    @include font-size( 14px );

    &:last-child {
      margin-left: 6px;
    }

    &:first-child {
      margin-right: 6px;
    }
  }
}

@mixin ghost-button( $color: $accent-primary ) {
  @include button( transparent, $color, $color, white, $color );
}